<section>
    <h2 class="major"><span>Get in touch</span></h2>
    <ul class="contact">
        <p>
            <iframe
                src="https://jiskey.dev/embed/user-timeline/9gptzj80qf?maxHeight=400"
                data-misskey-embed-id="v1_jiskey_timeline"
                loading="lazy"
                referrerpolicy="strict-origin-when-cross-origin"
                style="border: none; width: 100%; max-width: 500px; height: 400px; color-scheme: light dark;"
            ></iframe>
            <script defer src="https://jiskey.dev/embed.js"></script>
        </p>
        <li><a class="icon brands fa-twitter" href="https://twitter.com/jj1guj"><span class="label">Twitter</span></a></li>
    </ul>
</section>
