<nav id="nav">
    <ul>
        <li class="current"><a href="index.html">Home</a></li>
        <li>
            <a href="#">プログラミング</a>
            <ul>
                <li><a href="programming.html">プログラミング</a></li>
                <li><a href="works.html">過去に作った&制作予定の作品</a></li>
            </ul>
        </li>
        <li>
            <a href="#">アマチュア無線</a>
            <ul>
                <li><a href="hamradio.html">アマチュア無線とは</a></li>
                <li><a href="hamradio.html#qsl">QSLカードについて</a></li>
                <li><a href="contests.html">コンテスト成績</a></li>
            </ul>
        </li>
        <li>
            <a href="#">BCL</a>
            <ul>
                <li><a href="bcl.html">BCLとは</a></li>
                <li>
                    <a href="#">ベリカード集</a>
                    <ul>
                        <li><a href="jp_am.html">国内AM局</a></li>
                        <li><a href="jp_fm.html">国内FM局</a></li>
                        <li><a href="shortwave.html">海外局・短波局</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="contact.html">contact me</a>
        </li>
        <li><a href="english.html">English</a></li>
    </ul>
</nav>
