ul.contact li {
  vertical-align: top;
}

ul.contact li a.fa-misskey:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 48px;
  line-height: 48px;
  background-color: currentColor;
  -webkit-mask-image: url("/assets/css/images/icons/misskey.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center 56%;
  -webkit-mask-size: contain;
  mask-image: url("/assets/css/images/icons/misskey.svg");
  mask-repeat: no-repeat;
  mask-position: center 56%;
  mask-size: contain;
}

ul.contact li:hover a.fa-misskey {
  background-color: #9ad11b;
}
